# Node modules
node_modules/

# Vite
frontend/dist/

# Environment variables
.env
.env.*
!.env.example

# Python caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.tox/
.coverage
htmlcov/
venv/
env/
.venv/
frontend/.vite/
